ul.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    list-style-type: none;
    padding: 0;
    margin: 24px 156px;
}

ul.gallery li {
    flex: calc((100% - 48px) / 3);
}

ul.gallery img {
    width: 100%;
    height: auto;
    display: block;
}

.gallery-item:hover .gallery-image {
    width: 105%;
    height: auto;
}

.sl-wrapper {
    background-color: #2e2f42cc; 
}